<?xml version="1.0" encoding="UTF-8"?>
<configuration>

	<appender name="meteoyalog"
		class="ch.qos.logback.core.rolling.RollingFileAppender">
		<!--See also http://logback.qos.ch/manual/appenders.html#RollingFileAppender -->
		<File>${catalina.home}/logs/meteo-ya.log</File>
		<Append>false</Append>
		<encoder>
			<pattern>%d %5p [%t] \(%c.java:%L\) - %m%n</pattern>
		</encoder>
		<filter class="ch.qos.logback.classic.filter.ThresholdFilter">
			<level>DEBUG</level>
		</filter>
		<rollingPolicy
			class="ch.qos.logback.core.rolling.TimeBasedRollingPolicy">
			<maxHistory>30</maxHistory>
			<FileNamePattern>${catalina.home}/logs/meteo-ya-%d{yyyy-MM-dd}.%i.log
			</FileNamePattern>
			<timeBasedFileNamingAndTriggeringPolicy
				class="ch.qos.logback.core.rolling.SizeAndTimeBasedFNATP">
				<maxFileSize>1MB</maxFileSize>
			</timeBasedFileNamingAndTriggeringPolicy>
		</rollingPolicy>
	</appender>

	<appender name="stdout"
		class="ch.qos.logback.core.ConsoleAppender">
		<encoder>
			<pattern>%d %5p [%t] \(%c.java:%L\) - %m%n</pattern>
		</encoder>
	</appender>

	<logger name="com.woodapiary.meteo.ya" additivity="false">
		<appender-ref ref="meteoyalog" />
		<appender-ref ref="stdout" />
	</logger>

	<root level="INFO">
		<appender-ref ref="stdout" />
	</root>
</configuration>
