<!DOCTYPE html>
<html>
<head>
</head>
<body>

	<div th:fragment="navbarmin">

		<nav class="navbar navbar-expand-sm bg-dark navbar-dark">
			<a class="navbar-brand" th:href="@{/main}"><img th:src="@{/img/meteo20.png}" /></a>

			<ul class="navbar-nav">
							  
			<div class="collapse navbar-collapse justify-content-end"
				id="navbarCollapse">
				<ul class="navbar-nav">
						<li class="nav-item"><a class="nav-link text-right" href="main"><i
							class="fa fa-sign-in"></i>Войти</a></li>
				</ul>
			</div>

		</nav>

	</div>

</body>
</html>